header {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: lightgray;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    transition: opacity 0.3s;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

aside {
    background-color: lightyellow;
    padding: 15px;
}

footer {
    background-color: lightcoral;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#burger-toggle {
    display: none;
}

#burger-label {
    display: none;
    font-size: 2em;
    cursor: pointer;
    padding: 0 10px;
}


@media screen and (max-width: 1200px) {
    .nav-links a:nth-child(7) { display: none; } 
}
@media screen and (max-width: 1050px) {
    .nav-links a:nth-child(6) { display: none; } 
}
@media screen and (max-width: 950px) {
    .nav-links a:nth-child(5) { display: none; } 
}
@media screen and (max-width: 850px) {
    .nav-links a:nth-child(4) { display: none; } 
}
@media screen and (max-width: 750px) {
    .nav-links a:nth-child(3) { display: none; } 
}
@media screen and (max-width: 650px) {
    .nav-links a:nth-child(2) { display: none; } 
}

@media screen and (max-width: 600px) {
    .nav-links a { display: none; }
    #burger-label {
        display: block;
    }
    nav {
        position: relative;
    }
    .nav-links {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        background: lightgray;
        width: 100%;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);
        z-index: 10;
    }
    #burger-toggle:checked + #burger-label + .nav-links a {
        display: block;
        padding: 1em;
        border-bottom: 1px solid #ddd;
        font-size: 1.3em;
    }
    #burger-toggle:not(:checked) + #burger-label + .nav-links a {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    main { display: block; }
    aside { display: none; }
}

@media print {
    nav, aside, footer, header {
        display: none;
    }
    main {
        grid-template-columns: 1fr;
        text-align: justify;
    }
}